:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196F3;
	--background-color: #F5F5F5;
	--background-team-color: #F5F4FA;
	--footer-background-color: #2F303A;
	--contact-color: #757575;
	--white-color: #ffffff;
}


body {
	font-family: 'Roboto', sans-serif;
	color: var(--primary-text-color);
	background-color: var(--background-color);
	font-size: 14px;
	letter-spacing: 0.03em;
}

/* hover focus */
.social-links .link:hover,
.contacts .contact:hover,
.social-links .link:focus,
.contacts .contact:focus,
.address-list .footer-contact:hover,
.address-list .footer-contact:focus,
.address-list .address-map:focus,
.address-list .address-map:hover {
	color: var(--accent-color);
}


.button:hover,
.button:focus {
	background: #2196F3;
	color: #FFFFFF;
}


/* Nav */
.logo {
	color: #000;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.link {
	color: var(--title-text-color);
}

.social-links .link.current {
	color: var(--accent-color);
}

.address-logo {
	color: #FFFFFF;
}

.text-logo {
	color: #2196F3;
}

.social-links {

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.contact {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--contact-color);
}

/* Main */

.title-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffff;
}

.hero {
	background-color: #2F303A;
}

.button {
	font-family: 'Roboto';
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--background-team-color)
}

.hero .button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}



/* Section Features */


.features-title {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
}


.features-subtitle {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* work-list  team-list */
.title-head {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--title-text-color);
	letter-spacing: 0.03em;
}


/* team-list */

.team-list {
	color: var(--background-team-color);
}

.team-card-list {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.team-card-indent {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);

}

/* Footer */

.footer-list {
	background-color: var(--footer-background-color);
}

.address-list {
	font-style: normal;
}

.address-map {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;

	letter-spacing: 0.03em;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-contact {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

/* search */
.search-form {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
}

/* contents */
.post-content {
	background-color: var(--white-color)
}

.post-subtitle {
	color: var(--title-text-color);
}

.post-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}